@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Registration</h1>
            <partial name="RegistrationPartial"></partial>
        </div>
        <div class="col">
            <h1>Login</h1>
            <partial name="Login"></partial>
        </div>
    </div>
</div>
